.article-list-item {
    display: block;

    .article-box {
        padding: 40px 0;

        .article-title {
            margin-bottom: 23px;
            text-align: left;
            color: #191b29;
        }

        .article-description {
            margin-bottom: 23px;
            font: 16px/1.88;
            text-align: left;
            color: #191b29;
        }

        .article-btn {
            color: $secondColor;
            background-color: #dd4b2b;
        }
    }

    .artisle-img {
        margin: 0 auto;
        max-width: 568px;

        img {
            width: 100%;
        }
    }

    &:nth-child(even) {

        .article-box {
            order: 1;

            .article-btn {
                color: $secondColor;
                background-color: #4b4e73;
            }
        }

        .artisle-img {
            order: 0;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: $lg) {
    .article-list-item {
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;

        .article-box {
        padding: 40px 40px 0;

            .article-description {
                margin-bottom: 40px;
            }
        }
    }
}

