.main-footer {
	background: no-repeat center/cover url(../../img/newsletter-bg.png);

	.footer-body {
		margin: 0 auto;
		max-width: 666px;
		text-align: center;

		.footer-description {
			font: 300 18px/1.33 ProximaNova;
			color: rgba(255, 255, 255, 0.5);
		}

		.footer-link {
			font: bold 18px/1.33 ProximaNova;
			color: $secondColor;
		}
	}
}
