.newsletter {
    background: no-repeat center/cover url('../../img/newsletter-bg.png');

    .newsletter-title {
        margin-bottom: 22px;
    }

    .newsletter-description {
        margin: 0 auto 43px;
        max-width: 550px;
        line-height: 1.6;
    }

    .newsletter-form {
        margin: 0 auto;
        max-width: 510px;
        display: flex;
        justify-content: space-between;
        border-radius: 27px;
        border: solid 1px rgba(255, 255, 255, 0.5);
        background-color: rgba(255, 255, 255, 0.5);

        .email {
            padding-left: 36px;
            font: 18px/1,67 $PrimaryFonts;
            color: #f3f4f6;
            border: none;
            background-color: transparent;

            &::-webkit-input-placeholder {
                color: #f3f4f6;
            }

            &:focus {
                outline: none;
            }
        }

        .newsletter-btn {
            padding: 20px 20px;

        

            &:hover {
                padding: 20px 25px;
            }
        }
    }
}
@media (min-width: $md) {
    .newsletter {
        .newsletter-form {
            .newsletter-btn {
                padding: 20px 60px;

            }
        }
    }
}