.our-news {
    background-color: whitesmoke;

    .our-news-title {
        color: $primaryColor;
    }

    .news-img {
        padding-top: 70px;
        margin: 0px auto 20px;
        max-width: 370px;

        img {
            width: 100%;
        }
    }

    .news-second-title {
        margin-bottom: 20px;
        font-size: 24px;
        color: $primaryColor;
    }

    .news-description {
        margin-bottom: 20px;
        color: $primaryColor;
    }

    .news-btn {
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: $lg) {

    .our-news {
        background-color: whitesmoke;

        .news-img {
            margin: 0 auto 40px;
        }

        .news-description {
            margin-bottom: 40px;
        }
    }
}
