.some-link {
    background-color: #d75d0e;
    ul { 
        column-count: 2;

        .some-link-item {
            text-align: center;
            a {
                text-decoration: none;
                font: 18px/2 $SecondFonts;
                color: $secondColor;

                &:hover {
                    color: #4b4e73;
                }
            }
        }
    }
}

@media (min-width: $md) {
    .some-link {
        ul {
            column-count: 3;
        }
    }
}

