.welcome-section {
    background: no-repeat center/cover url('../../img/say-bg.png');

    .welcome-title {
        margin-bottom: 20px;
        font: 300 36px/1 $PrimaryFonts;
        text-align: center;
        color: $secondColor;
    }

    .welcome-description {
        font-size: 20px;
    }

    .welcome-img {
        margin: 50px auto 15px;
        width: 135px;
        height: 135px;

        img {
            width: 100%;
        }
    }

    .card-title {
        margin-bottom: 15px;
    }

    .welcome-btn {
        display: block;
        margin: 30px auto 0;
    }
}

@media (min-width: $md) {

    .welcome-section {


        .welcome-title {
            font-size: 72px;
        }

        .welcome-description {
            margin-bottom: 50px;
            font-size: 30px;
        }

        .welcome-btn {
            margin: 80px auto 0;
        }
    }
}

@media (min-width: $lg) {
    .welcome-section {

        display: flex;
        align-items: center;
        background: no-repeat center/cover url('../../img/say-bg.png');
        min-height: calc(100vh - 170px);

        .welcome-title {
            margin-bottom: 20px;
        }

        .welcome-description {
            margin-bottom: 130px;
        }

        .welcome-img {
            margin: 0px auto 36px;
        }

        .card-title {
            margin-bottom: 29px;
        }
    }
}

