@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*Fonts*/
/*Color*/
/*Breakpoints*/
a {
  text-decoration: none;
}

.second-title {
  font: bold 30px/1 "Roboto Slab", serif;
  text-align: center;
  color: #fff;
}

.second-description {
  font: 300 15px/2 "Roboto", sans-serif;
  text-align: center;
  color: #fff;
}

.main-btn {
  padding: 20px 60px;
  font: 18px/1 "Roboto Slab", serif;
  color: #612316;
  border-radius: 27px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: #fff;
  cursor: pointer;
}
.main-btn:hover {
  padding: 20px 65px;
  transition: padding 2s;
}
.main-btn:focus {
  outline: none;
}

.section-padding {
  padding: 100px 0;
}

.welcome-section {
  background: no-repeat center/cover url("../../img/say-bg.png");
}
.welcome-section .welcome-title {
  margin-bottom: 20px;
  font: 300 36px/1 "Roboto Slab", serif;
  text-align: center;
  color: #fff;
}
.welcome-section .welcome-description {
  font-size: 20px;
}
.welcome-section .welcome-img {
  margin: 50px auto 15px;
  width: 135px;
  height: 135px;
}
.welcome-section .welcome-img img {
  width: 100%;
}
.welcome-section .card-title {
  margin-bottom: 15px;
}
.welcome-section .welcome-btn {
  display: block;
  margin: 30px auto 0;
}

@media (min-width: 768px) {
  .welcome-section .welcome-title {
    font-size: 72px;
  }
  .welcome-section .welcome-description {
    margin-bottom: 50px;
    font-size: 30px;
  }
  .welcome-section .welcome-btn {
    margin: 80px auto 0;
  }
}
@media (min-width: 992px) {
  .welcome-section {
    display: flex;
    align-items: center;
    background: no-repeat center/cover url("../../img/say-bg.png");
    min-height: calc(100vh - 170px);
  }
  .welcome-section .welcome-title {
    margin-bottom: 20px;
  }
  .welcome-section .welcome-description {
    margin-bottom: 130px;
  }
  .welcome-section .welcome-img {
    margin: 0px auto 36px;
  }
  .welcome-section .card-title {
    margin-bottom: 29px;
  }
}
.main-header {
  background-color: whitesmoke;
}
.main-header .navbar {
  padding: 50px 0;
  font-family: "Roboto Slab", serif;
  line-height: 1;
}
.main-header .navbar .container-fluid .navbar-brand .logo {
  margin-bottom: 8px;
  font-size: 36px;
  font-weight: bold;
  color: #31353e;
}
.main-header .navbar .container-fluid .navbar-brand .logo-description {
  font-size: 16px;
  letter-spacing: 0.96px;
  color: #dd4b2b;
}
.main-header .navbar .container-fluid .navbar-collapse {
  flex-grow: 0;
}
.main-header .navbar .container-fluid .navbar-collapse .nav-link {
  padding: 17px;
  font-size: 18px;
  color: #31353e;
}
.main-header .navbar .container-fluid .navbar-collapse .nav-link:hover {
  color: #fff;
  border-radius: 24.5px;
  background-color: #dd4b2b;
}

.our-news {
  background-color: whitesmoke;
}
.our-news .our-news-title {
  color: #31353e;
}
.our-news .news-img {
  padding-top: 70px;
  margin: 0px auto 20px;
  max-width: 370px;
}
.our-news .news-img img {
  width: 100%;
}
.our-news .news-second-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #31353e;
}
.our-news .news-description {
  margin-bottom: 20px;
  color: #31353e;
}
.our-news .news-btn {
  display: block;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .our-news {
    background-color: whitesmoke;
  }
  .our-news .news-img {
    margin: 0 auto 40px;
  }
  .our-news .news-description {
    margin-bottom: 40px;
  }
}
.newsletter {
  background: no-repeat center/cover url("../../img/newsletter-bg.png");
}
.newsletter .newsletter-title {
  margin-bottom: 22px;
}
.newsletter .newsletter-description {
  margin: 0 auto 43px;
  max-width: 550px;
  line-height: 1.6;
}
.newsletter .newsletter-form {
  margin: 0 auto;
  max-width: 510px;
  display: flex;
  justify-content: space-between;
  border-radius: 27px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.5);
}
.newsletter .newsletter-form .email {
  padding-left: 36px;
  font: 18px/1, 67 "Roboto Slab", serif;
  color: #f3f4f6;
  border: none;
  background-color: transparent;
}
.newsletter .newsletter-form .email::-webkit-input-placeholder {
  color: #f3f4f6;
}
.newsletter .newsletter-form .email:focus {
  outline: none;
}
.newsletter .newsletter-form .newsletter-btn {
  padding: 20px 20px;
}
.newsletter .newsletter-form .newsletter-btn:hover {
  padding: 20px 25px;
}

@media (min-width: 768px) {
  .newsletter .newsletter-form .newsletter-btn {
    padding: 20px 60px;
  }
}
.article-list-item {
  display: block;
}
.article-list-item .article-box {
  padding: 40px 0;
}
.article-list-item .article-box .article-title {
  margin-bottom: 23px;
  text-align: left;
  color: #191b29;
}
.article-list-item .article-box .article-description {
  margin-bottom: 23px;
  font: 16px/1.88;
  text-align: left;
  color: #191b29;
}
.article-list-item .article-box .article-btn {
  color: #fff;
  background-color: #dd4b2b;
}
.article-list-item .artisle-img {
  margin: 0 auto;
  max-width: 568px;
}
.article-list-item .artisle-img img {
  width: 100%;
}
.article-list-item:nth-child(even) .article-box {
  order: 1;
}
.article-list-item:nth-child(even) .article-box .article-btn {
  color: #fff;
  background-color: #4b4e73;
}
.article-list-item:nth-child(even) .artisle-img {
  order: 0;
}
.article-list-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .article-list-item {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
  }
  .article-list-item .article-box {
    padding: 40px 40px 0;
  }
  .article-list-item .article-box .article-description {
    margin-bottom: 40px;
  }
}
.some-link {
  background-color: #d75d0e;
}
.some-link ul {
  column-count: 2;
}
.some-link ul .some-link-item {
  text-align: center;
}
.some-link ul .some-link-item a {
  text-decoration: none;
  font: 18px/2 "Roboto", sans-serif;
  color: #fff;
}
.some-link ul .some-link-item a:hover {
  color: #4b4e73;
}

@media (min-width: 768px) {
  .some-link ul {
    column-count: 3;
  }
}
.main-footer {
  background: no-repeat center/cover url(../../img/newsletter-bg.png);
}
.main-footer .footer-body {
  margin: 0 auto;
  max-width: 666px;
  text-align: center;
}
.main-footer .footer-body .footer-description {
  font: 300 18px/1.33 ProximaNova;
  color: rgba(255, 255, 255, 0.5);
}
.main-footer .footer-body .footer-link {
  font: bold 18px/1.33 ProximaNova;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
